<!doctype html>
<html ng-app="buyABikeApp">
<head>
<title>Hello AngularJS</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="../../bower_components/semantic-ui/build/packaged/css/semantic.min.css" />
<link rel="stylesheet" href="../../assets/css/style.css" />
</head>

<body>
	<div ng-controller="Hello">
		<p>The ID is {{greeting.id}}</p>
		<p>The content is {{greeting.content}}</p>
	</div>

	<div ng-view></div>
	<script src="../../bower_components/angular/angular.js"></script>
	<script src="../../bower_components/angular-route/angular-route.js"></script>
	<script src="../app.js"></script>
	<script src="../controllers/hello.js"></script>
	<script src="../controllers/ProductController.js"></script>
</body>
</html>