<div class="container">
	<div class="panel-heading">{{product.name}}</div>
	<div class="panel-body flexcolumn">
		<img src="/images/bikes/bike{{product.id}}.jpg"
			alt="foto of {{product.name}}" class="productfoto-list">
		<div>
			<p>{{product.description}}</p>
			<p>
				<span>{{product.resellPrice | currency:"&euro; "}}</span>
			</p>
			<p>{{product.stock}}</p>
			<p>{{product.category.name}}</p>
			<div class='clearfix'>
				<a href="#" class="btn btn-primary" role="button">Details</a> <a
					href="#" class="btn btn-success" role="button">Kopen</a>
			</div>
		</div>
	</div>
</div>
