<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
<!-- endbower -->
<!-- endbuild -->
<!-- build:css({.tmp,app}) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>
<body ng-app="buyAbikeFeApp">
	<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BuyAbike</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#/producten" class="dropdown-toggle" data-toggle="dropdown">Producten <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/producten/fietsen">Fietsen</a></li>
          </ul>
        </li>
        <li class=""><a href="#" data-toggle="collapse" data-target="#container-collapse">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container panel-collapse collapse" id="container-collapse">
	<div class="row">
        <div class="span12">
    		<div id="loginModal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target="#container-collapse">×</button>
                <h3>Have an Account?</h3>
              </div>
              <div class="modal-body">
				<div class="well">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#login" data-toggle="tab">Login</a></li>
						<li><a href="#create" data-toggle="tab">Create Account</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active in" id="login">
							<form class="form-horizontal" ng-controller="FormLoginCtrl" ng-submit="submitLogin(form)">
								<fieldset>
									<div id="legend">
										<legend class="">Login</legend>
									</div>
									<div class="control-group">
										<!-- Username -->
										<label class="control-label" for="email">Email</label>
										<div class="controls">
											<input type="text" id="email" name="email" placeholder="Email" class="input-xlarge" ng-model="form.email">
										</div>
									</div>

									<div class="control-group">
										<!-- Password-->
										<label class="control-label" for="password">Password</label>
										<div class="controls">
											<input type="password" id="password" name="password" placeholder="Password" class="input-xlarge" ng-model="form.password">
										</div>
									</div>


									<div class="control-group">
										<!-- Button -->
										<div class="controls">
											<button class="btn btn-success" ng-click="submit">Login</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
						<div class="tab-pane fade" id="create">
							<form id="tab">
								<label>Username</label>
								<div class="controls">
									<input type="text" value="" class="input-xlarge">
								</div>
								<label>First Name</label>
								<div class="controls">
									<input type="text" value="" class="input-xlarge">
								</div>
								<label>Last Name</label>
								<div class="controls">
									<input type="text" value="" class="input-xlarge">
								</div>
								<label>Email</label>
								<div class="controls">
									<input type="text" value="" class="input-xlarge">
								</div>
								<label>Address</label>
								<div class="controls">
									<textarea rows="3" class="input-xlarge"></textarea>
								</div>

								<div>
									<button class="btn btn-primary">Create Account</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>
	</div>
	</div>
	
	<div id="page-content-wrapper">
		<div ng-view></div>
	</div>

	<!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/menu.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/form.js"></script>
	<script src="scripts/controllers/product.js"></script>

	<script src="scripts/services/services.js"></script>
	<script src="scripts/services/categorieservice.js"></script>
	<script src="scripts/services/productservice.js"></script>
	<script src="scripts/services/clientservice.js"></script>
	<script src="scripts/directives/slider.js"></script>
	<!-- endbuild -->

</body>
</html>
